## Introduction

This notebook explains how to add empty columns to already existing Pandas dataframe. 
We add empty columns to pandas dataframe as a placeholder to add values at a later point in time.

In this example, we will create a sample dataframe and add empty columns using various methods

## Create our sample Dataframe

In [2]:
import pandas as pd

data = {'State': ['Edo','Lagos'],
        'Capital': ['Benin City','Ikeja'],
        'Region': ['South South','South West']}

df = pd.DataFrame(data)
df

   State     Capital       Region
0    Edo  Benin City  South South
1  Lagos       Ikeja   South West

## Methods

### 1: Using the = operator and assigning null values to the column.

In [3]:
df["Governor"] = " "

df

   State     Capital       Region Governor
0    Edo  Benin City  South South
1  Lagos       Ikeja   South West

### 2: Add an empty column with 'nan' values. The 'nan' value equals empty or blank values

In [4]:
import numpy as np

df["Deputy Governor"] = np.nan

df

   State     Capital       Region Governor  Deputy Governor
0    Edo  Benin City  South South                       NaN
1  Lagos       Ikeja   South West                       NaN

### 3: Using None

In [5]:
df["LGA"] = None

df

   State     Capital       Region Governor  Deputy Governor   LGA
0    Edo  Benin City  South South                       NaN  None
1  Lagos       Ikeja   South West                       NaN  None

### 4: Add Multiple Empty Columns To Pandas Dataframe

You can use the reindex() method to add multiple columns.

In [6]:
df = df.reindex(columns = df.columns.tolist() + ["Population", "Railway"])

df

,State,Capital,Region,Governor,Deputy Governor,LGA,Population,Railway
0,Edo,Benin City,South South,,NaN,None,NaN,NaN
1,Lagos,Ikeja,South West,,NaN,None,NaN,NaN

### 5: Add Empty Column If Not Already Existing

Sometimes, we may need to add an empty column ONLY if there is no existing one in the dataframe.

In [7]:
if 'Governor' not in df.columns:
    df["Governor"] = " "

else:
    print("Governor column already exists in the dataframe")


df

Governor column already exists in the dataframe

,State,Capital,Region,Governor,Deputy Governor,LGA,Population,Railway
0,Edo,Benin City,South South,,NaN,None,NaN,NaN
1,Lagos,Ikeja,South West,,NaN,None,NaN,NaN

In [8]:
if 'Revenue' not in df.columns:
    df["Revenue"] = " "

else:
    print("Revenue column already exists in the dataframe")


df

,State,Capital,Region,Governor,Deputy Governor,LGA,Population,Railway,Revenue
0,Edo,Benin City,South South,,NaN,None,NaN,NaN,
1,Lagos,Ikeja,South West,,NaN,None,NaN,NaN,

### 6: Add Empty Column At A Specific Position

To add an empty column at a specific position you can use the df.insert() method by passing the index position to the insert method. The empty column will then be added at the specific position and the other columns adjusted to the right. The index is 0 based.

In [9]:
df.insert(3,"Language", " ")

df

,State,Capital,Region,Language,Governor,Deputy Governor,LGA,Population,Railway,Revenue
0,Edo,Benin City,South South,,,NaN,None,NaN,NaN,
1,Lagos,Ikeja,South West,,,NaN,None,NaN,NaN,

The language column is now added after the Region column which is index position 3.

### 7: Add Empty Columns From A List

To add empty columns from a list, get the current column names of the dataframe and add to those columns in the list.

In [10]:
df = df.reindex(columns = df.columns.tolist() + ["Date of Creation", "Debt"])

df

,State,Capital,Region,Language,Governor,Deputy Governor,LGA,Population,Railway,Revenue,Date of Creation,Debt
0,Edo,Benin City,South South,,,NaN,None,NaN,NaN,,NaN,NaN
1,Lagos,Ikeja,South West,,,NaN,None,NaN,NaN,,NaN,NaN

## Wrap Up

This is how you add empty columns to already existing dataframe. Go head to practice what you have learned. Follow [Data Science Arena](https://twitter.com/xtian4zy) for more practical data science, machine learning, Python, Power BI and Tableau classes